form {
  .ingredient_template, .step_template, .tip_template {
    display: none;
  }

  #ingredients, #instructions, #tips {
    .clearfix {
      display: inline-block;
      margin-right: 20px;
    }
    label {
      vertical-align: top;
      padding-top: 6px;
      font-weight: normal;
    }
    .input {
      display: inline-block;
    }
    .removeIngredient, .removeStep, .removeTip {
      vertical-align: top;
    }
  }

  #instructions, #tips {
    .input {
      min-width: 450px;
    }
  }
}

.custom-upload {

}